configuration {
    modes:"drun,calc";
    calc {
        no-history: false;
        //delete when selected
        calc-command: "sed -i '/{result}/d' ~/.local/share/rofi/rofi_calc_history"; 
     }
}

* {
    bg0:#2E3440F2;
    bg1:#3B4252;
    bg2:#4C566A80;
    bg3:#88C0D0F2;
    fg0:#D8DEE9;
    fg1:#ECEFF4;
    fg2:#D8DEE9;
    fg3:#4C566A;
}

* {
    font:"JetBrainsMono Nerd Font Propo 12";
    background-color:transparent;
    text-color:@fg3;
    margin:0px;
    padding:0px;
    spacing:0px;
}

window {
    height:50%;
    location:center;
    width:40%;
    border-radius:12px;
    background-color:@bg0;
    border-color:@bg3;
}

mainbox {

    margin: 12px;
    border-color:@bg3;
    padding: 0px;
    children:[ listview, message, inputbar ];
}

inputbar {
    background-color:@bg1;
    border-color:@bg3;
    border:2px;
    border-radius:16px;
    padding: 8px 8px;
    spacing: 4px;
    children:[ prompt, entry ];
}
prompt {
    text-color:@fg2;
}

entry {
    background-color:@bg1;
    placeholder:"Search";
    text-color:@fg1;
    placeholder-color:@fg3;
}

message {
    margin: 12px;
    padding: 12px;
    border: none;
    border-radius:16px;
    background-color:@bg2;
}

textbox {
    text-color:@fg2;
}

listview {
    scrollbar: none;
    spacing:6px;
    background-color:transparent;
    columns:2;
    dynamic:false;
    fixed-height:false;
}

element {
    orientation:horizontal;
    children:[ element-text, element-icon ];
    padding:8px 16px;
    spacing:4px;
    border-radius:16px;
}

element normal active {
    text-color:@bg3;
}

element alternate.normal  {
    text-color:@fg2;
    background-color:@bg2;
}

element normal.normal{
    text-color:@fg2;
    background-color:@bg2;
}

element selected.normal{
    background-color:@bg3;
}

element selected {
    text-color:@bg1;
}

element-icon {
    size:2em;
    vertical-align:0.5;
}

element-text {
    vertical-align:0.5;
    text-color:inherit;
}
