@import "colors.css";

/* Base font setup */
* {
    font-family: "JetBrainsMono Nerd Font", "Noto Sans", sans-serif;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 0;
}

/* The invisible main bar container */
window#waybar {
    background-color: transparent;
}

/* Style for EVERY pill module on the bar */
#custom-controlcenter,
#custom-cpu_mem,
#mpris,
#window,
#workspaces,
#clock,
#network,
#pulseaudio,
#battery {
    background-color: rgba(20, 20, 20, 0.65); /* Dark transparent glass background */
    color: @on_surface_variant;
    padding: 4px 14px;
    border-radius: 12px; /* Smooth pill shape */
    margin: 1px;
    border: 2px solid @outline;
}
#cpu {
    background-color: rgba(20, 20, 20, 0.65); /* Dark transparent glass background */
    color: @on_surface_variant;
    padding: 4px 4px 0 14px;
    border-radius: 12px 0 0 12px;
    border-top: 2px solid @outline;
    border-bottom: 2px solid @outline;
    border-left: 2px solid @outline;
    border-right: none 
}
#memory {
    background-color: rgba(20, 20, 20, 0.65); /* Dark transparent glass background */
    color: @on_surface_variant;
    padding: 4px 4px 14px 0;
    border-radius: 0 12px 12px 0;
    border-top: 2px solid @outline;
    border-bottom: 2px solid @outline;
    border-right: 2px solid @outline;
    border-left: none 
}
/* --- Left: Workspaces --- */
#workspaces {
    padding: 4px 6px;
}

#workspaces button {
    padding: 0 8px;
    color: @on_surface_variant;
    background-color: transparent;
    transition: all 0.2s ease;
}

/* Workspace hovering */
#workspaces button:hover {
    color: @primary;
    background-color: transparent;
}

/* Active workspace pops out using Matugen colors */
#workspaces button.active {
    color: @background;
    background-color: @primary;
    border-radius: 8px;
}

/* --- Center: Clock --- */
#clock {
    color: @primary;
    font-weight: 800;
}

/* --- Right: Status Indicators --- */
#network.disconnected,
#battery.critical {
    color: #ff6c6b; /* Soft red for warning alerts */
}

#battery.charging {
    color: #98be65; /* Soft green for charging status */
}
